/* GENERAL */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.fs {
    font-size: 20px;
}
.mt {
    margin-top: 2%;
}

/* HEADER section */
header{
     padding-top: 1%;
    padding-bottom: 1%;
}

/* sezione box */
.box-1 , .box-2 {
    float: left;
    line-height: 40px;

}
.box-1 {width: 38%;
    margin-right: 18%;
    margin-left: 1%;
}
.box-2 {
    width: 42%;
    margin-right: 0%;
    text-align: right;
   
}

    /* sezione nav */
    .brand {
        vertical-align: -17%;
    }
    a {
     text-decoration: none;
     color: black;
    }
    .menu {
        display: inline-block;
    }
    
.menu ul li {
    display: inline-block;
    padding: 0 20px ;
    text-decoration: none; 
}

/* MAIN section */

/* HERO section */
.hero-section {
    background: rgb(176, 200, 248);
    width: 100%;
    height: 100%;
    position: relative;
}
.container-hero{
    width: 80%;
    margin: 0% auto;
    padding-top: 1%;
}
/* TITLE */

.Title{
    width: 100%;
    margin-top: 5%;
}
h1 {
    font-size: 80px;
}
/* TEXT, IMG */

 .text-left {
width: 30%;
 }
 
.hero-img {
    width: 55%;
    margin-left: 30%;
    position: absolute;
    
}
.hero-img img {
    width: 100%;
}

.text-left, .hero-img {
    float: left;
}
/* Distanziamento elementi all'interno di text-left */
.text-left-mt {
    margin-top: 10%;
}

span {
    display: block;
    font-size: 17px;
    margin-top: 2%;
}
 .fa-arrow-down {
   margin-top: 10%;
   margin-bottom: 20%;
}
/* SECTION A*/
.section-a {
    width: 70%;
    margin-top:15%;
    margin-left:15%;
    background: coral;
    
}

/* title + checkbox */
