/* UTILITY */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER section */
header{
     padding-top: 1%;
    padding-bottom: 1%;
}

/* sezione box */
.box-1 , .box-2 {
    float: left;
    line-height: 40px;
}
.box-1 { width: 33%;
    margin-right: 32%;
    margin-left: 1%;
     
}
.box-2 {
    width: 33%;
    margin-right: 1%;
    text-align: right;
}

    /* sezione nav */
    .brand {
        vertical-align: -17%;
    }
    a {
     text-decoration: none;
     color: black;
    }
    .menu {
        display: inline-block;
    }
    
.menu ul li {
    display: inline-block;
    padding: 0 20px ;
    text-decoration: none; 
}

/* MAIN section */

/* HERO section */
.hero-section {
    background: rgb(105, 175, 216);
    height: 75vh;
}

.container-title-p-img {
    max-width: 1350px;
   height: 90%;
    margin: 0% auto;
    padding: 3%;
   background: rgb(223, 223, 223);
}
.container-title-p-img  h1{
    font-size: 81px;
}
.container-title-p-img p {
    text-align: center;

}