/* UTILITY */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER section */

/* sezione box */
.box-1 , .box-2 {
    float: left;
    line-height: 40px;
}
.box-1 { width: 30%;
     margin-left: 2% ;
     background-color: gray;
}
.box-2 {
    width: 30%;
    background:gray;
    margin-left:  36% ;
}

    /* sezione nav */
    .brand {
        vertical-align: -17%;
    }
    a {
     text-decoration: none;
     color: black;
    }
    .menu {
        display: inline-block;
    }
    

.menu ul li {
    display: inline-block;
    padding: 0 20px ;
    text-decoration: none;
    
}

